<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581200087509-4mlkkfd989o9j0mk7b8ig9285ih1i722.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581200087509-4mlkkfd989o9j0mk7b8ig9285ih1i722</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581200087509-q2c30t24eoqbphkuh6bs49luk6l39kuf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtQUNeT_9wWpXpufeGDvbxKP3-LVTwMFI</string>
	<key>GCM_SENDER_ID</key>
	<string>581200087509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.screen.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c8c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c8c1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581200087509:ios:611e735eb0bc62852ad55c</string>
</dict>
</plist>